
<body>
<br><br><br><br><br><br><br><br><br><br><br><br>
<section>




  <div class="container">
    <section class="row d-flex">
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../../assets/images/1.png" class="card-img-top" alt="Image de la chambre" style="width:400px;height: 300px">
          <div class="card-body">
            <h5 class="card-title">Type de chambre: SIMPLE</h5>
            <p class="card-text">Description ou autres informations sur la chambre.</p>
            <button class="btn btn-primary">Réserver</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="../../../../../assets/images/2.png" class="card-img-top" alt="Image de la chambre" style="width:400px;height: 300px">
          <div class="card-body">
            <h5 class="card-title">Type de chambre: DOUBLE</h5>
            <p class="card-text">Description ou autres informations sur la chambre.</p>
            <button class="btn btn-primary">Réserver</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="../../../../../assets/images/3.png" class="card-img-top" alt="Image de la chambre" style="width:400px;height: 300px">
          <div class="card-body">
            <h5 class="card-title">Type de chambre: TRIPLE</h5>
            <p class="card-text">Description ou autres informations sur la chambre.</p>
            <button class="btn btn-primary">Réserver</button>
          </div>
        </div>
      </div>
    </section>
  </div>








  <!--
   <div class="container">
     <section class="row">

      <div class="col-md-4" *ngFor="let chambre of chambres">
        <div *ngIf="chambre.typeC=='SIMPLE'">

          <div class="card">
            <img [src]="getImagePath(chambre.typeC)" class="card-img-top" alt="Image de la chambre">
            <div class="card-body">
              <h5 class="card-title">Type de chambre: {{ chambre.typeC }}</h5>
              <p class="card-text">Description ou autres informations sur la chambre.</p>
              <button class="btn btn-primary">Consulter</button>
            </div>
          </div>

        </div>
        <div *ngIf="chambre.typeC=='DOUBLE'">

          <div class="card">
            <img [src]="getImagePath(chambre.typeC)" class="card-img-top" alt="Image de la chambre">
            <div class="card-body">
              <h5 class="card-title">Type de chambre: {{ chambre.typeC }}</h5>
              <p class="card-text">Description ou autres informations sur la chambre.</p>
              <button class="btn btn-primary">Consulter</button>
            </div>
          </div>

        </div>
        <div *ngIf="chambre.typeC=='TRIPLE'">

          <div class="card">
            <img [src]="getImagePath(chambre.typeC)" class="card-img-top" alt="Image de la chambre">
            <div class="card-body">
              <h5 class="card-title">Type de chambre: {{ chambre.typeC }}</h5>
              <p class="card-text">Description ou autres informations sur la chambre.</p>
              <button class="btn btn-primary">Consulter</button>
            </div>
          </div>

        </div>
      </div>


    </section>
  </div>
  -->




















  <br><br><br><br><br><br><br><br><br><br><br><br>



</section>

</body>

