<br>
<br>
<br>
<br>
<br><div *ngFor="let u of universties">
  <div style="margin-bottom: 20px;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQSYrZ4vGpbXAtstnTLdIW1Toj_IQ0mDF9eWxjfU5TEhOPsp8xIWuh2k1HjBmecZtnYv8&usqp=CAU" alt="{{ u.nomUniversite }}" style="max-width: 500px; max-height: 500px;">
  </div>

  <div>
    <strong>{{ u.nomUniversite }}</strong>
    <p>{{ u.adresse }}</p>
  </div>
</div>






<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
